<select
  [choices]="choices"
  [formControl]="control2"
  [removeItemButton]="true"
  multiple
  ngxChoice
></select>

<select
  [choices]="choices$"
  [isLoading]="loading$"
  [formControl]="control2"
  [allowHTML]="false"
  ngxChoice
></select>

<input type="text" ngxChoice />

<div class="form-floating" [ngClass]="{ 'empty-select': ngxChoice.isEmpty() }">
  <select
    class="form-select"
    #ngxChoice="ngxChoice"
    [searchChoices]="true"
    [searchEnabled]="true"
    [searchFields]="['label']"
    [isLoading]="loading$"
    [formControl]="control"
    [choices]="choices$"
    searchPlaceholderValue="Search a contact"
    ngxChoice
  ></select>
  <label>{{ ngxChoice.isEmpty() }}</label>
</div>
